In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error,r2_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn import neighbors
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor

In [20]:
df = pd.read_csv("football_cleaned.csv")
df = df.drop(["name","first_name"],axis=1)
df["red_card"] = df["red_card_continent"]+df["red_card_champ"]+df["red_card_cup"]
df["yellow_card"] = df["yellow_card_continent"]+df["yellow_card_champ"]+df["yellow_card_cup"]
df = df.drop(["yellow_card_cup","yellow_card_continent","yellow_card_champ","red_card_continent","red_card_champ","red_card_cup"],axis=1)
print(df.columns)
df.describe()

Index(['age', 'nation', 'league', 'team', 'goals_selection',
       'selections_nation', 'position', 'price', 'end_contract', 'goal_champ',
       'assist_champ', 'own_goal_champ', 'sub_on_champ', 'sub_out_champ',
       'second_yellow_card_champ', 'penalty_goal_champ', 'conceded_goal_champ',
       'clean_sheet_champ', 'goal_cup', 'assist_cup', 'own_goal_cup',
       'sub_on_cup', 'sub_out_cup', 'second_yellow_card_cup',
       'penalty_goal_cup', 'conceded_goal_cup', 'clean_sheet_cup',
       'goal_continent', 'assist_continent', 'own_goal_continent',
       'sub_on_continent', 'sub_out_continent', 'second_yellow_card_continent',
       'penalty_goal_continent', 'conceded_goal_continent',
       'clean_sheet_continent', 'red_card', 'yellow_card'],
      dtype='object')

,age,goals_selection,selections_nation,price,end_contract,goal_champ,assist_champ,own_goal_champ,sub_on_champ,sub_out_champ,...,assist_continent,own_goal_continent,sub_on_continent,sub_out_continent,second_yellow_card_continent,penalty_goal_continent,conceded_goal_continent,clean_sheet_continent,red_card,yellow_card
count,12711.000000,12711.000000,12711.000000,1.271100e+04,8434.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,...,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.0,12711.0,12711.000000,12711.000000
mean,26.072378,0.604909,5.788215,1.774767e+06,2.062604,11.850208,9.229172,0.100858,21.979152,26.707812,...,0.483046,0.008733,1.085123,1.194949,0.943277,0.038392,0.0,0.0,1.999843,16.417119
std,4.564766,2.632483,14.979703,7.240789e+06,1.148984,19.253330,15.210470,0.365367,23.806913,31.803922,...,1.925155,0.100365,2.787263,3.484809,6.129151,0.336510,0.0,0.0,6.878958,20.040153
min,16.000000,0.000000,0.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,23.000000,0.000000,0.000000,1.000000e+05,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,2.000000
50%,26.000000,0.000000,0.000000,3.000000e+05,2.000000,4.000000,3.000000,0.000000,15.000000,15.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,9.000000
75%,29.000000,0.000000,4.000000,8.000000e+05,3.000000,16.000000,12.000000,0.000000,34.000000,41.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,23.000000
max,46.000000,85.000000,176.000000,2.000000e+08,8.000000,423.000000,174.000000,6.000000,216.000000,234.000000,...,44.000000,3.000000,30.000000,51.000000,195.000000,15.000000,0.0,0.0,114.000000,177.000000

KeyError: 'clean_sheet_cup'

In [21]:
df["own_goal"] = df["own_goal_continent"]+df["own_goal_champ"]+df["own_goal_cup"]
df["goal"] = df["goal_continent"]+df["goal_champ"]+df["goal_cup"]
df = df.drop(["own_goal_continent","own_goal_champ","own_goal_cup","goal_continent","goal_champ","goal_cup"],axis=1)
print(df.columns)
df.describe()

Index(['age', 'nation', 'league', 'team', 'goals_selection',
       'selections_nation', 'position', 'price', 'end_contract',
       'assist_champ', 'sub_on_champ', 'sub_out_champ',
       'second_yellow_card_champ', 'penalty_goal_champ', 'conceded_goal_champ',
       'clean_sheet_champ', 'assist_cup', 'sub_on_cup', 'sub_out_cup',
       'second_yellow_card_cup', 'penalty_goal_cup', 'conceded_goal_cup',
       'clean_sheet_cup', 'assist_continent', 'sub_on_continent',
       'sub_out_continent', 'second_yellow_card_continent',
       'penalty_goal_continent', 'conceded_goal_continent',
       'clean_sheet_continent', 'red_card', 'yellow_card', 'own_goal', 'goal'],
      dtype='object')

,age,goals_selection,selections_nation,price,end_contract,assist_champ,sub_on_champ,sub_out_champ,second_yellow_card_champ,penalty_goal_champ,...,sub_on_continent,sub_out_continent,second_yellow_card_continent,penalty_goal_continent,conceded_goal_continent,clean_sheet_continent,red_card,yellow_card,own_goal,goal
count,12711.000000,12711.000000,12711.000000,1.271100e+04,8434.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,...,12711.000000,12711.000000,12711.000000,12711.000000,12711.0,12711.0,12711.000000,12711.000000,12711.000000,12711.000000
mean,26.072378,0.604909,5.788215,1.774767e+06,2.062604,9.229172,21.979152,26.707812,0.425065,24.216427,...,1.085123,1.194949,0.943277,0.038392,0.0,0.0,1.999843,16.417119,0.127449,13.252144
std,4.564766,2.632483,14.979703,7.240789e+06,1.148984,15.210470,23.806913,31.803922,0.920198,73.361213,...,2.787263,3.484809,6.129151,0.336510,0.0,0.0,6.878958,20.040153,0.419765,22.079644
min,16.000000,0.000000,0.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,0.000000,1.000000e+05,1.000000,0.000000,2.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,2.000000,0.000000,0.000000
50%,26.000000,0.000000,0.000000,3.000000e+05,2.000000,3.000000,15.000000,15.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,9.000000,0.000000,4.000000
75%,29.000000,0.000000,4.000000,8.000000e+05,3.000000,12.000000,34.000000,41.000000,1.000000,3.000000,...,1.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,23.000000,0.000000,18.000000
max,46.000000,85.000000,176.000000,2.000000e+08,8.000000,174.000000,216.000000,234.000000,9.000000,800.000000,...,30.000000,51.000000,195.000000,15.000000,0.0,0.0,114.000000,177.000000,7.000000,588.000000

In [24]:
df["clean_sheet"] = df["clean_sheet_continent"]+df["clean_sheet_champ"]+df["clean_sheet_cup"]
df["assist"] = df["assist_continent"]+df["assist_champ"]+df["assist_cup"]
df = df.drop(["clean_sheet_continent","clean_sheet_champ","clean_sheet_cup","assist_continent","assist_champ","assist_cup"],axis=1)
print(df.columns)
df.describe()

Index(['age', 'nation', 'league', 'team', 'goals_selection',
       'selections_nation', 'position', 'price', 'end_contract',
       'sub_on_champ', 'sub_out_champ', 'second_yellow_card_champ',
       'penalty_goal_champ', 'conceded_goal_champ', 'sub_on_cup',
       'sub_out_cup', 'second_yellow_card_cup', 'penalty_goal_cup',
       'conceded_goal_cup', 'sub_on_continent', 'sub_out_continent',
       'second_yellow_card_continent', 'penalty_goal_continent',
       'conceded_goal_continent', 'red_card', 'yellow_card', 'own_goal',
       'goal', 'clean_sheet', 'assist'],
      dtype='object')

,age,goals_selection,selections_nation,price,end_contract,sub_on_champ,sub_out_champ,second_yellow_card_champ,penalty_goal_champ,conceded_goal_champ,...,sub_out_continent,second_yellow_card_continent,penalty_goal_continent,conceded_goal_continent,red_card,yellow_card,own_goal,goal,clean_sheet,assist
count,12711.000000,12711.000000,12711.000000,1.271100e+04,8434.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,...,12711.000000,12711.000000,12711.000000,12711.0,12711.000000,12711.000000,12711.000000,12711.000000,12711.0,12711.000000
mean,26.072378,0.604909,5.788215,1.774767e+06,2.062604,21.979152,26.707812,0.425065,24.216427,6.157029,...,1.194949,0.943277,0.038392,0.0,1.999843,16.417119,0.127449,13.252144,0.0,10.422941
std,4.564766,2.632483,14.979703,7.240789e+06,1.148984,23.806913,31.803922,0.920198,73.361213,20.628841,...,3.484809,6.129151,0.336510,0.0,6.878958,20.040153,0.419765,22.079644,0.0,17.562240
min,16.000000,0.000000,0.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,23.000000,0.000000,0.000000,1.000000e+05,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,2.000000,0.000000,0.000000,0.0,0.000000
50%,26.000000,0.000000,0.000000,3.000000e+05,2.000000,15.000000,15.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,9.000000,0.000000,4.000000,0.0,3.000000
75%,29.000000,0.000000,4.000000,8.000000e+05,3.000000,34.000000,41.000000,1.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,1.000000,23.000000,0.000000,18.000000,0.0,13.000000
max,46.000000,85.000000,176.000000,2.000000e+08,8.000000,216.000000,234.000000,9.000000,800.000000,333.000000,...,51.000000,195.000000,15.000000,0.0,114.000000,177.000000,7.000000,588.000000,0.0,233.000000

In [28]:
df = df.drop(["conceded_goal_continent","conceded_goal_champ","conceded_goal_cup"],axis=1)
print(df.columns)
df.describe()

Index(['age', 'nation', 'league', 'team', 'goals_selection',
       'selections_nation', 'position', 'price', 'end_contract',
       'sub_on_champ', 'sub_out_champ', 'second_yellow_card_champ',
       'penalty_goal_champ', 'sub_on_cup', 'sub_out_cup',
       'second_yellow_card_cup', 'penalty_goal_cup', 'sub_on_continent',
       'sub_out_continent', 'second_yellow_card_continent',
       'penalty_goal_continent', 'red_card', 'yellow_card', 'own_goal', 'goal',
       'clean_sheet', 'assist'],
      dtype='object')

,age,goals_selection,selections_nation,price,end_contract,sub_on_champ,sub_out_champ,second_yellow_card_champ,penalty_goal_champ,sub_on_cup,...,sub_on_continent,sub_out_continent,second_yellow_card_continent,penalty_goal_continent,red_card,yellow_card,own_goal,goal,clean_sheet,assist
count,12711.000000,12711.000000,12711.000000,1.271100e+04,8434.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,...,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.0,12711.000000
mean,26.072378,0.604909,5.788215,1.774767e+06,2.062604,21.979152,26.707812,0.425065,24.216427,1.599481,...,1.085123,1.194949,0.943277,0.038392,1.999843,16.417119,0.127449,13.252144,0.0,10.422941
std,4.564766,2.632483,14.979703,7.240789e+06,1.148984,23.806913,31.803922,0.920198,73.361213,3.086250,...,2.787263,3.484809,6.129151,0.336510,6.878958,20.040153,0.419765,22.079644,0.0,17.562240
min,16.000000,0.000000,0.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,23.000000,0.000000,0.000000,1.000000e+05,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000
50%,26.000000,0.000000,0.000000,3.000000e+05,2.000000,15.000000,15.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,4.000000,0.0,3.000000
75%,29.000000,0.000000,4.000000,8.000000e+05,3.000000,34.000000,41.000000,1.000000,3.000000,2.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,23.000000,0.000000,18.000000,0.0,13.000000
max,46.000000,85.000000,176.000000,2.000000e+08,8.000000,216.000000,234.000000,9.000000,800.000000,37.000000,...,30.000000,51.000000,195.000000,15.000000,114.000000,177.000000,7.000000,588.000000,0.0,233.000000

In [29]:
df["penalty_goal"] = df["penalty_goal_continent"]+df["penalty_goal_champ"]+df["penalty_goal_cup"]
df = df.drop(["penalty_goal_continent","penalty_goal_champ","penalty_goal_cup","second_yellow_card_continent"],axis=1)
print(df.columns)
df.describe()

Index(['age', 'nation', 'league', 'team', 'goals_selection',
       'selections_nation', 'position', 'price', 'end_contract',
       'sub_on_champ', 'sub_out_champ', 'second_yellow_card_champ',
       'sub_on_cup', 'sub_out_cup', 'second_yellow_card_cup',
       'sub_on_continent', 'sub_out_continent', 'red_card', 'yellow_card',
       'own_goal', 'goal', 'clean_sheet', 'assist', 'penalty_goal'],
      dtype='object')

,age,goals_selection,selections_nation,price,end_contract,sub_on_champ,sub_out_champ,second_yellow_card_champ,sub_on_cup,sub_out_cup,second_yellow_card_cup,sub_on_continent,sub_out_continent,red_card,yellow_card,own_goal,goal,clean_sheet,assist,penalty_goal
count,12711.000000,12711.000000,12711.000000,1.271100e+04,8434.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.0,12711.000000,12711.000000
mean,26.072378,0.604909,5.788215,1.774767e+06,2.062604,21.979152,26.707812,0.425065,1.599481,1.804736,0.029738,1.085123,1.194949,1.999843,16.417119,0.127449,13.252144,0.0,10.422941,24.703721
std,4.564766,2.632483,14.979703,7.240789e+06,1.148984,23.806913,31.803922,0.920198,3.086250,3.477446,0.179333,2.787263,3.484809,6.878958,20.040153,0.419765,22.079644,0.0,17.562240,74.339248
min,16.000000,0.000000,0.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,23.000000,0.000000,0.000000,1.000000e+05,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000
50%,26.000000,0.000000,0.000000,3.000000e+05,2.000000,15.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,4.000000,0.0,3.000000,0.000000
75%,29.000000,0.000000,4.000000,8.000000e+05,3.000000,34.000000,41.000000,1.000000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,23.000000,0.000000,18.000000,0.0,13.000000,4.000000
max,46.000000,85.000000,176.000000,2.000000e+08,8.000000,216.000000,234.000000,9.000000,37.000000,45.000000,3.000000,30.000000,51.000000,114.000000,177.000000,7.000000,588.000000,0.0,233.000000,800.000000

In [30]:
df = df.drop(["sub_on_champ","sub_out_champ","sub_out_cup","sub_out_continent","sub_on_cup","sub_on_continent"],axis=1)
print(df.columns)
df.describe()

Index(['age', 'nation', 'league', 'team', 'goals_selection',
       'selections_nation', 'position', 'price', 'end_contract',
       'second_yellow_card_champ', 'second_yellow_card_cup', 'red_card',
       'yellow_card', 'own_goal', 'goal', 'clean_sheet', 'assist',
       'penalty_goal'],
      dtype='object')

,age,goals_selection,selections_nation,price,end_contract,second_yellow_card_champ,second_yellow_card_cup,red_card,yellow_card,own_goal,goal,clean_sheet,assist,penalty_goal
count,12711.000000,12711.000000,12711.000000,1.271100e+04,8434.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.000000,12711.0,12711.000000,12711.000000
mean,26.072378,0.604909,5.788215,1.774767e+06,2.062604,0.425065,0.029738,1.999843,16.417119,0.127449,13.252144,0.0,10.422941,24.703721
std,4.564766,2.632483,14.979703,7.240789e+06,1.148984,0.920198,0.179333,6.878958,20.040153,0.419765,22.079644,0.0,17.562240,74.339248
min,16.000000,0.000000,0.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,23.000000,0.000000,0.000000,1.000000e+05,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000
50%,26.000000,0.000000,0.000000,3.000000e+05,2.000000,0.000000,0.000000,0.000000,9.000000,0.000000,4.000000,0.0,3.000000,0.000000
75%,29.000000,0.000000,4.000000,8.000000e+05,3.000000,1.000000,0.000000,1.000000,23.000000,0.000000,18.000000,0.0,13.000000,4.000000
max,46.000000,85.000000,176.000000,2.000000e+08,8.000000,9.000000,3.000000,114.000000,177.000000,7.000000,588.000000,0.0,233.000000,800.000000

df = df.drop(["second_yellow_card_champ","second_yellow_card_cup"],axis=1)
print(df.columns)
df.describe()

In [34]:
y = df["price"]
X = df.drop(["price"],axis=1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 99)

# KNN

In [41]:
X_train.head()

,age,nation,league,team,goals_selection,selections_nation,position,end_contract,red_card,yellow_card,own_goal,goal,clean_sheet,assist,penalty_goal
9822,28,Uzbekistan,Superliga,Kokand1912,0,0,LeftMidfield,NaN,0.0,6.0,0.0,16.0,0,0.0,0.0
3119,26,Spain,JupilerProLeague,Sint0Truiden,0,0,LeftWinger,2.0,2.0,14.0,0.0,23.0,0,17.0,2.0
2595,28,Ukraine,PremierLiga,Desna,0,2,DefensiveMidfield,1.0,1.0,35.0,0.0,3.0,0,1.0,0.0
10740,28,Japan,I0League,MohunBagan,0,0,DefensiveMidfield,NaN,0.0,10.0,1.0,4.0,0,3.0,1.0
7716,28,Uruguay,PrimeraDivisión,Wanderers,0,2,DefensiveMidfield,NaN,1.0,47.0,0.0,7.0,0,18.0,0.0

In [39]:
from sklearn.ensemble import RandomForestClassifier
cart_model = RandomForestClassifier().fit(X_train,y_train)

C:\Users\ardaa_iyfsapc\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ValueError: could not convert string to float: 'Uzbekistan'

In [35]:
knn_model.predict(X_test)

NameError: name 'knn_model' is not defined