In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("ornekcsv.csv",sep = ";")
data.head(3)

    a    b    c
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0

In [12]:
data = pd.read_csv("duz_metin.txt")
data.head()

   a b
0  1 2
1  2 2
2  3 2
3  4 2
4  5 2

In [15]:
data = pd.read_excel("ornekx.xlsx")
data.head()

    a    b    c
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0

In [19]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.var1

0     9
1    21
2     3
3     5
4    11
5    20
6     8
7    15
8     3
9     8
Name: var1, dtype: int32