In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn import model_selection
import matplotlib.pyplot as plt
from sklearn.linear_model import ElasticNetCV

In [5]:
df = pd.read_csv("Hitters.csv")
df = df.dropna()
dms = pd.get_dummies(df[["League","Division","NewLeague"]])
y = df["Salary"]
X_ = df.drop(["Salary","League","Division","NewLeague"],axis=1).astype("float64")
X = pd.concat([X_,dms[["League_N","Division_W","NewLeague_N"]]],axis = 1)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state=42)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [6]:
enet_model = ElasticNet().fit(X_train,y_train)

C:\Users\ardaa_iyfsapc\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8487984.799367279, tolerance: 3898.686956380658
  positive)

In [8]:
pd.Series(enet_model.coef_,index = X_train.columns )

AtBat          -1.862562
Hits            8.704891
HmRun           5.104264
Runs           -2.898758
RBI            -1.286430
Walks           5.243437
Years           6.044803
CAtBat         -0.147015
CHits          -0.215666
CHmRun         -0.789720
CRuns           1.808131
CRBI            0.809145
CWalks         -0.612624
PutOuts         0.268162
Assists         0.271724
Errors         -0.365307
League_N       19.218622
Division_W    -31.165866
NewLeague_N     8.983699
dtype: float64

# Tahmin

In [9]:
enet_model.predict(X_train)[:10]

array([325.74706292, 776.06632333, 522.86508419, 107.64091955,
       449.03139566, 997.76095723,  99.78828622, 311.33763086,
       418.50335021, 879.9502608 ])

In [10]:
enet_model.predict(X_test)[:10]

array([ 577.79111731,  617.33202224, 1031.39113156,  364.95861575,
        489.51894393,  300.74185842,  604.522666  ,  465.34678732,
        901.44473965,  703.20357123])

In [11]:
y_pred = enet_model.predict(X_test)

In [12]:
np.sqrt(mean_squared_error(y_test,y_pred))

357.1676548181244

In [13]:
r2_score(y_test,y_pred)

0.41070222469326945

# Final

In [19]:
ened_cv = ElasticNetCV(cv=10).fit(X_train,y_train)
ened_tuned = ElasticNet(alpha=ened_cv.alpha_).fit(X_train,y_train)

In [22]:
ened_cv.alpha_

5230.7647364798695

In [20]:
y_pred = ened_tuned.predict(X_test)

In [21]:
np.sqrt(mean_squared_error(y_test,y_pred))

394.15280563218795